#headings{
	/*border:2px solid red;*/
	height:10%;
	width:100%;
	padding-top:1%;
	background-color:#00154f;
}

.titles{
	border:2px solid #00154f;
	margin-left:6%;
	font-weight:bold;
	font-size:20px;
	color:#00154f;
	background-color:white;
	cursor:pointer;
	padding:7px 7px 7px 7px;
	border-radius:10px;
}

.div_titles{
	/*border:2px solid blue;*/
	width:100%;
	height:90%;
}

#dashboard,#book{
	/*border : 2px solid red;*/
}

.col-6{
	/*border:2px solid red;*/
}

#add_book{
	/*border: 2px solid red;*/
	margin:auto;
	color:#00154f;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	margin-top:20px;
}