.container-fluid{
	/*border: 2px solid red;*/
	height:720px;
}

.container{
	border: 2px solid #eeeaff;
	height:720px;
	background-color:white;
	border-radius: 5px;
}

.row{
	border: 2px solid #eeeaff;
}

#row1{
	height:150px;
	background-color:#eeeaff;
}

#row2{
	height:520px;
}

#row3{
	height:50px;
	background-color:#eeeaff;
}

#main_title{
	/*border:2px solid eeeaff;*/
	margin:auto;
	padding:30px 0px 0px 0px;
	font-family:verdana;
	font-size:50px;
	color:#00154f;
	font-weight:bold;
}

.icon {
  padding: 10px;
  background: #00154f;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn {
  background-color: #00154f;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#front_table_1{
	margin-top:150px;
}

#front_table_2{
	margin-top:30px;
}

th{
	text-align:center;
	font-size:30px;
	cursor:pointer;
	background-color:#eeeaff;
	color:#00154f;
}

#copywrite{
	color:#00154f;
	margin-top:10px;
	font-weight:bold;
}


#login_pic{
	height:100px;
	margin-left:100px;
	border-radius:500px;
}
